body {
  background: rgb(218, 142, 142);
  min-width: 360px;
}

main {
  width: 100%;
}

.container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-gap: .5rem;
}

.player-wrapper {
  background: rgb(52, 14, 113);
  border: 1px solid black;
  border-radius: 1rem;
  padding: .5rem;
  display: flex;
  width: 380px;
  justify-content: space-between;
}

.player-wrapper p {
  color: white;
  font-size: 1rem;
  margin: 0 0 .3rem;
}

audio {
  width: 150px;
  height: 35px;
}

.instrument {
  font-weight: bold;
  font-size: 1.5rem;
}

.bpm-label {
  font-size: 1.6rem;
  font-weight: bold;
  background: unset;
}

.bpm {
  font-size: 1.3rem;
  width: 80px;
  padding: .5rem;
  border-radius: 1rem;
}

.tracks-container {
  margin: 30px 0;
}

.tracks-form {
  justify-content: center;
}

.track {
  display: flex;
  margin: 2px 0;
  background: lightblue;
  border-radius: .5rem;
  width: fit-content;
}

input[type="checkbox"] {
  display: none;
}

.beat {
  padding: 3px;
  height: 3.3vw;
}

.beat:nth-child(4n) {
  border-right: 1px solid rgb(230, 113, 236, 0.8);
}

.beat:last-of-type {
  border-right: none;
}

.track label {
  justify-self: center;
  display: inline-block;
  color: white;
  border: 2px solid transparent;
  border-radius: .5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  width: 2.8vw;
  height: 2.8vw;
}

input[type="checkbox"]:checked+label {
  transform: scale(1.05);
}

label {
  background-color: rgb(230, 113, 236, 0.3);
}

label:hover {
  background-color: rgb(230, 113, 236, 0.5);
}

input[type="checkbox"]:checked+label {
  background-color: rgb(230, 113, 236, 0.8);
}

input[type="checkbox"]:checked+label:hover {
  background-color: rgb(230, 113, 236, 0.65);
}

.update-audio-submit {
  background: blue;
  color: white;
  border-radius: .5rem;
  font-size: 1.5rem;
  width: fit-content;
  padding: 1rem;
  margin-top: 2rem;
}