body {
  background: rgb(218, 142, 142);
  min-width: 360px;
}

main {
  width: 100%;
}

.container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-gap: .5rem;
}

.player-wrapper {
  background: rgb(52, 14, 113);
  border: 1px solid black;
  border-radius: 1rem;
  padding: .5rem;
}

.player-wrapper p {
  color: white;
  font-size: 1.5rem;
  margin: 0 0 .3rem;
}

.instrument {
  font-weight: bold;
  font-size: 1.5rem;
}

.bpm {
  font-size: 1.6rem;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}

.tracks-container {
  margin: 30px 0;
}

.tracks-form {
  display: grid;
  gap: 1rem;
  justify-content: center;
}

.track {
  display: grid;
  gap: .5rem;
  width: 100%;
  margin: .5rem 0;
  padding: .5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background: lightblue;
  border-radius: .5rem;
}

input[type="checkbox"] {
  display: none;
}

.track label {
  display: inline-block;
  color: white;
  border: 2px solid transparent;
  border-radius: 15rem;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
}

input[type="checkbox"]:checked+label {
  transform: scale(1.05);
}

label {
  background-color: rgb(230, 113, 236, 0.3);
}

label:hover {
  background-color: rgb(230, 113, 236, 0.5);
}

input[type="checkbox"]:checked+label {
  background-color: rgb(230, 113, 236, 0.8);
}

input[type="checkbox"]:checked+label:hover {
  background-color: rgb(230, 113, 236, 0.65);
}

.update-audio-submit {
  background: blue;
  color: white;
  border-radius: .5rem;
  font-size: 1.5rem;
  width: fit-content;
  padding: 1rem;
  margin-top: 2rem;
}