<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bernoulli</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>

<body>
  <main class="home-main">
    <div class="form-container">
      <form method="post" class="tracks-form" action="{% url 'update_audio' %}">
        {% csrf_token %}
        <div class="container">
          {% for audio_file in audio_files %}
          <div class="player-wrapper">
            <p>{{ audio_file }}</p>
            <audio controls loop>
              <source src="media/{{ MEDIA_URL }}{{ audio_file }}" type="audio/wav">
              Your browser does not support the audio element.
            </audio>
          </div>
          {% endfor %}
          <button class="update-audio-submit" type="submit">Remix</button>
        </div>
        <div class="bpm-label">Tempo</div>
        <input class='bpm' type="number" id='bpm' name="bpm" value="{{bpm}}">
        <div class="tracks-container">
          <div class="track-guide">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          {% for track in tracks %}
            {% for tone in track.beats %}
            <div class="track">
              {% for beat in loop_array %}
              <div class="beat">
                <input type="checkbox" id="track-{{track.track_id}}-{{forloop.parentloop.counter0}}-beat-{{ beat }}"
                  name="track-{{forloop.parentloop.counter0}}-{{track.track_id}}" value="{{ beat }}" {% if beat in tone
                  %}checked{% endif %}>
                <label for="track-{{track.track_id}}-{{forloop.parentloop.counter0}}-beat-{{ beat }}"></label>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          {% endfor %}
        </div>
      </form>
    </div>
  </main>
  <script>
    // Disable navigate away confirmation
    window.onbeforeunload = null;
  </script>
</body>

</html>